@model IEnumerable<Cloud.Models.TblOrder>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manage your orders</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Company ID
            </th>
            <th>
                Delivered
            </th>
            <th>
                Place date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDelivered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.ReportId">Delete</a>
            </td>
        </tr>
}

    
    </tbody>

</table>

<a asp-action="Create" asp-controller="Orderdetails">To order details</a>
