html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#loginButton{
    border: 1px solid black;
    border-radius: 0.5rem;
}

#registerButton {
    border: 1px solid black;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
}