@model Cloud.Models.TblCompany


<h1>Login with your registered account</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="mb-3" asp-action="Login" method="post">
            <div class="mb-3">
                <input asp-for="CompEmail" class="form-control" placeholder="Email" />
                <span asp-validation-for="CompEmail" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="password" asp-for="CompPassword" class="form-control" placeholder="Password" />
                <span typeasp-validation-for="CompPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Login" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>
