@model Cloud.Models.TblTruck

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TblTruck</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TruckModel" class="control-label"></label>
                <input asp-for="TruckModel" class="form-control" />
                <span asp-validation-for="TruckModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TruckLicense" class="control-label"></label>
                <input asp-for="TruckLicense" class="form-control" />
                <span asp-validation-for="TruckLicense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmplId" class="control-label"></label>
                <input asp-for="EmplId" class="form-control" />
                <span asp-validation-for="EmplId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompId" class="control-label"></label>
                <input asp-for="CompId" class="form-control" />
                <span asp-validation-for="CompId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

