@model Cloud.Models.TblEmployee

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editting</h1>

<h4>Employee's Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmplId" />
            <div class="form-group">
                <label asp-for="EmplFirstname" class="control-label" >First name</label>
                <input asp-for="EmplFirstname" class="form-control"/>
                <span asp-validation-for="EmplFirstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmplLastname" class="control-label">Last name</label>
                <input asp-for="EmplLastname" class="form-control" />
                <span asp-validation-for="EmplLastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompId" class="control-label">Company ID</label>
                <input asp-for="CompId" class="form-control" />
                <span asp-validation-for="CompId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmplEmail" class="control-label">Email</label>
                <input asp-for="EmplEmail" class="form-control" />
                <span asp-validation-for="EmplEmail" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 1rem;">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<style>
    .form-group{
        margin-top: 1rem;
    }
</style>

<div>
    <a asp-action="Index" style="margin-top: 2rem;">Back to List</a>
</div>

